@import '~bootstrap/scss/mixins/_breakpoints';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    text-align: right;
    
}

a,
a:hover {
    text-decoration: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button,
a,
input {
    -webkit-appearance: none !important;
}

@for $i from 1 through 5 {
    .flex-#{$i} {
        flex: $i;
    }
}
