/**
*
*	Name:			IRANYekan Font
*	Version:			3.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 20, 2018
*	Updated on:		Dec 20, 2018
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/
@font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: bold;
    src: url('../../../public/fonts/eot/iranyekanwebboldfanum.eot');
    src: url('../../../public/fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */ url('../../../public/fonts/woff/iranyekanwebboldfanum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../../public/fonts/ttf/iranyekanwebboldfanum.ttf')
            format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'iranyekan';
    font-style: normal;
    font-weight: normal;
    src: url('../../../public/fonts/eot/iranyekanwebregularfanum.eot');
    src: url('../../../public/fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */ url('../../../public/fonts/woff/iranyekanwebregularfanum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../../../public/fonts/ttf/iranyekanwebregularfanum.ttf')
            format('truetype');
    font-display: swap;
}
