// FONT
$default-font-size: 1.6rem;
$display-font: 'iranyekan', tahoma, Arial;

//BOOTSTRAP BREAKPOINTS
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

//SPACERS
$space: 0.4rem;
$space-1: 0.8rem;
$space-2: 1.6rem;
$space-3: 2.4rem;
$space-4: 3.2rem;
$space-5: 4.8rem;
$space-6: 6.4rem;
$space-7: 8.0rem;
$space-8: 9.6rem;
$space-9: 11.2rem;