
//COLORS
$color-white: white;
$color-black: black;
$color-primary: #0d6efd;
$color-primary-hover: #0069d9;
$color-secondary: #6c757d;
$color-secondary-hover: #5a6268;
$color-success: #28a745;
$color-success-hover: #218838;
$color-warning: #ffc107;
$color-warning-hover: #fdd354;
$color-info: #17a2b8;
$color-info-hover: #138496;
$color-light: #f8f9fa;
$color-light-hover: #e2e6ea;
$color-dark: #343a40;
$color-dark-hover: #23272b;


//FONTS
$display-font: tahoma, Arial;